@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">API Output</h1>
    <textarea cols="50" rows="10">@Model.ApiResonse</textarea>
</div>
